@charset "UTF-8";

/* Typical Device Breakpoints
------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: de 992px até 1200px
Grandes telas: acima de 1200px
*/ 

:root{
    --cor0: #A61F2B;
    --cor1: #1E2159;
    --cor2: #F2BB13;
    --cor3: #F28705;
    --cor4: #D91604;
}

/*TABLET*/
@media screen and (min-width: 798px) and (max-width: 992px) {

    body{
       background-color: var(--cor1);
    }

    header{
        width: 80.5vw;
        height: 320px;
        position: absolute;
        top: 30%;
        left: 50%;
        background-image: linear-gradient(to bottom, var(--cor0), var(--cor3));
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.631);
        border-radius: 10px 10px 0px 0px;
        
        transform: translate(-50%,-50%);
        transition: width 0.3s, height 0.3s;
        transition-timing-function: ease;
    }
    header > div> img{
        width: 220px;
        display: block;
        margin: auto;
       
    }
    header > p#Redes{
        margin: -10px;
        color: white;
        text-align: center;
        font-weight: bold;
        font-size: 1.2em
    }
    header > p#img{
        margin-top: 5px;
        padding-bottom: 10px;
        text-align: center;
    }
    
    
    main > section{
        position: absolute;
        top: 69.5%;
        left: 50%;
        overflow: auto;/* Adicionando esquema de rolagem */
        /*overflow: hidden; Para ocultar conteúdo que ultrapassa as dimensões da seção */
        width: 76.2vw;
        height: 260px;
        background-color: var(--cor0);
        border-radius: 0px 0px 10px 10px;
        
        
        transform: translate(-50%,-50%);
        transition: width 0.3s, height 0.3s;
        transition-timing-function: ease; 
        margin: auto;
        padding: 20px;

    }

    
    
}
/* DESKTOP E MAIORES */
@media screen and (min-width: 992px){

  
    body{
        background-color: var(--cor1);
     }
 
     header{
         width: 90%;
         height: 320px;
         position: absolute;
         top: 30%;
         left: 50%;
         background-image: linear-gradient(to bottom, var(--cor0), var(--cor3));
         box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.864);
         border-radius: 10px 10px 0px 0px;
         
         transform: translate(-50%,-50%);
         transition: width 0.3s, height 0.3s;
         transition-timing-function: ease;
     }
     header > div> img{
         width: 220px;
         display: block;
         margin: auto;
        
     }
     header > p#Redes{
         margin: -10px;
         color: white;
         text-align: center;
         font-weight: bold;
         font-size: 1.2em
     }
     header > p#img{
         margin-top: 5px;
         padding-bottom: 10px;
         text-align: center;
     }
     
     
     main > section{
         position: absolute;
         top: 72.3%;
         left: 50%;
         overflow: auto; /* Adicionando esquema de rolagem */
         /*overflow: hidden; Para ocultar conteúdo que ultrapassa as dimensões da seção */
         width: 87.3%;
         height: 260px;
         background-color: var(--cor0);
         
         border-radius: 0px 0px 10px 10px;
         transform: translate(-50%,-50%);
         transition: width 0.3s, height 0.3s;
         transition-timing-function: ease; 
         margin: auto;
         padding: 20px;
 
     }
 
    } 