@charset "UTF-8";

:root{
    --cor0: #A61F2B;
    --cor1: #1E2159;
    --cor2: #F2BB13;
    --cor3: #ff8c00;
    --cor4: #D91604;
}


* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor4);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor3));
    box-shadow: 0px 1px 1px #00000053;
    
}


header > div> img{
    width: 32vw;
    max-height: 470px;
    display: block;
    margin: auto;
   
}

header > p#img{
    padding-bottom: 10px;
    text-align: center;
}

header > p#Redes{
    padding-top: 15px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em
}


main{
    margin: auto;
    padding: 20px;
    max-width: 1000px;
    min-width: 300px;
}

main > section > p{
        padding-top: 0px;
        color: white;
        text-align: center;
        font-weight: bold;
        font-size: 1.2em
   
}


main a.botoes{
    font-size: 1.3em;
    text-decoration: none;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 500;
    background-color: #f7f700;
    border-radius: 10px;
    margin-top: 30PX;
    margin-left: 40PX;
    margin-right: 40PX;
    padding: 6px;
    display: block;
}

